name: Publish npm package
on:
  push:
    branches:
      - main
      - staging
jobs:
  publish-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.14.0
        uses: actions/setup-node@v4
        with:
          node-version: '22.14.0'
      - name: Install dependencies
      - run: npm install
      - name: Build package
      - run: npm run build
        env:
          GITHUB_TOKEN: {{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: {{ secrets.NPM_TOKEN }}
      - run: npx semantic-release
  